
div{height:60px;}

.nav{
background-color:blue;
grid-area:nav;
}

.header{
background-color:lightgreen;
grid-area:header;
}

.footer{
background-color:violet;
grid-area:footer;
}

.main{
background-color:purple;
grid-area:main;
}




.container1 { /*for index.html*/
  display: grid;
  grid-template-columns:auto 1fr;
  grid-gap:.5em;
  margin:1%;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    }
